<div class="box7">
<h1>履歴書作成</h1>

<%= render 'form', rirekisyo: @rirekisyo %>

<br>

<table>
<tr>
<td><pre style="font-size: 12px;"><%= link_to '閲覧', @rirekisyo %>
<td>　</td>
<td><pre style="font-size: 12px;"><%= link_to '戻る', rirekisyos_path %>
</tr>
</table>
</div>