<h1><p><%= link_to '履歴書',rirekisyos_path %>
 <%= link_to '受験報告書',reportmenu_menu_path %></p></h1>
<p>           <a href = ''><%= link_to '面接',mensetu_top_path %></a>
<%= link_to 'メモ',memos_path %></p></h1>