<h1>編集</h1>

<%= render 'form', resumetrancerec: @resumetrancerec %>

<br>

<table>
<tr>
<td><pre style="font-size: 12px;"><%= link_to '詳細', @resumetrancerec %>
<td>　</td>
<td><pre style="font-size: 12px;"><%= link_to '戻る', resumetrancerecs_path %>
</tr>
</table>
