<h1>受験報告書</h1>
<p>Find me in app/views/reportmenu/menu.html.erb</p>

<p>就職試験受験報告書</p>
<%= link_to '見る', new_reportjob_path %>
<%= link_to '作成', new_reportjob_path %>

<p>進学試験受験報告書</p>
<%= link_to '見る', new_reportjob_path %>
<%= link_to '作成', new_reportjob_path %>