/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
  
body { 
    background-color:white; 
    height: 700px;
    background-size: cover;
     color: #333;
    /* margin: 33px; */
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 30px;
  }
  
  p, ol,td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 15px;
    line-height: 36px;
  }
  
  pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
  }
  
  a {
     color: #000;
   
     &:visited {
       color: #666;
     }
     &:hover {
       color: #fff;
       background-color: #000;
     }
   }
  
//
//  th {
//    padding-bottom: 5px;
//  }
  
//  td {
//    padding: 0 5px 7px;
//  }

  div {
    &.field, &.actions {
      margin-bottom: 10px;
    }
  }
  
  #notice {
    color: green;
  }
  
  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }
  
  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;}

    .box30 {
      margin: 2em 0;
      background: #f1f1f1;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
      width: 160px;
      height: 500px;
      position: relative;
      top: -30px

  }
   .box30 h2{
      font-size: 1.2em;
      background: #5fc2f5;
      padding: 4px;
      text-align: center;
      color: #FFF;
      font-weight: bold;
      letter-spacing: 0.05em;
  }
  .box30 p {
      font-size: 20px;
      padding: 15px 20px;
      line-height: 4em;
      

  }
  .box30 li{
    font-size: 15px;
  }
  .box1 {
   background-color:lightgreen;
   width: 100%;
   position: relative;
   top: 0;
   border: 3px solid red; /*線の太さ・色*/ 
 }
 .box1 h1{
   color: black;
   font-family :'Times New Roman';
   font-size: 70px;
   font-style: italic;
 }
  .box2{
    background-color:whitesmoke;  /*線の太さ・色*/
    top: -30px;
    border-bottom: 1px solid black ;
    border-top: 1px solid black 

  }

  .btn-flat-bottom-border1 {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #a180dc;
    transition: .4s;
    border:2px solid whitesmoke;
    box-sizing: 50×50

  }
  .btn-flat-bottom-border2 {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #5fc2f5;
    transition: .4s;
    border:2px solid whitesmoke;

  }
  .btn-flat-bottom-border3 {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background:green;
    transition: .4s;
    border:2px solid whitesmoke;
  }
  .btn-flat-bottom-border4 {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: darkorange;
    transition: .4s;
    border:2px solid whitesmoke;
  }

  .btn-flat-bottom-border > span {
    border-bottom: solid 2px #FFF;
  }
  
  .btn-flat-bottom-border:hover {
    background: #91b5fb;
  }
.box3{
  position: relative;
  right: -150px;
  top:30px

}
.box4{
  position: relative;
  right: -450px;
  top :-60px;

}
.box5{
  position: relative;
  right: -163px;
  top: -30px;

}

.box6{
  position: relative;
  right: -470px;
  top:-120px

}
.box7{
  position: relative;
  right: -180px;
  top :-41px;
}
.box8{
  position: relative;
  left: -30px;
}
