<h1>編集</h1>

<%= render 'form', memo: @memo %>

<br>

<table>
<tr>
<td><pre style="font-size: 12px;"><%= link_to '詳細', @memo %> 
<td>　</td>
<td><pre style="font-size: 12px;"><%= link_to '戻る', memos_path,data: { confirm: "本当に戻りますか？更新する場合はキャンセルを押してください" } %></td>
</tr>
</table>
