<h1>編集</h1>

<%= render 'form', reportschool: @reportschool %>

<%= link_to '詳細', @reportschool %> |
<%= link_to '戻る', reportschools_path %> 
<%if @sensei == true %>
|<%= link_to 'マスター管理画面へ戻る', manage_school_path %>
<% end %>
